:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Play', sans-serif;

  --primary-white-cl: #ffffff;
  --primary-light-cl: #2b7fff;
  --primary-dark-cl: #011c44;
  --secondary-dark-cl: #4a4a4a;
  --secondary-light-cl: #747272;
  --secondary-blue-cl: #011f4a;
  --secondary-yellow-cl: #ffd02b;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: var(--main-font);
  color: var(--primary-dark-cl);
  background-color: var(--primary-white-cl);
  font-size: 22px;
  font-weight: 400;
}
/* BASE */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  display: inline-block; /* щоб посилання не було ширше ніж треба  */
}
img {
  display: block;
}
.link {
  text-decoration: none;
  color: currentColor;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.section {
  padding: 48px 0;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}

/* HEADER */

.header {
  padding: 32px 0;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(5px);
}
.header-container {
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
.header-logo {
  width: 74px;
  height: 42px;
  color: var(--primary-light-cl);
  font-family: var(--secondary-font);
  font-weight: 700;
  line-height: 1;
}
.header-nav-list {
  display: flex;
  align-items: center;
  gap: 56px;
  justify-content: center;
}
.header-nav-link {
  font-size: 18px;
}
.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--primary-light-cl);
}
.header-contacts-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}
.contacts-icon {
  fill: var(--primary-dark-cl);
}

/* HERO */

.hero-section {
  position: relative;
  padding: 123px 0 157px 106px;
  background-image: url('../images/hero-img.jpg');
  background-repeat: no-repeat;
  background-position: 240px top;
  background-size: 1152px 687px; /* або конкретно: 1152px 687px */
  min-height: 687px;
}
.hero-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(to right, #fff 40%, transparent 100%);
  z-index: 1;
}
.hero-container {
  position: relative;
  z-index: 1;
}
.hero-text {
  font-size: 18px;
  margin-bottom: 16px;
}
.hero-title {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 140px;
  line-height: 0.8;
  color: var(--primary-light-cl);
  margin-bottom: 40px;
}
.hero-btn {
  display: flex;
  align-items: center;
  padding: 16px 32px;
  width: 219px;
  font-weight: 600;
  font-size: 18px;
  font-family: var(--main-font);
  color: var(--primary-white-cl);
  background: var(--primary-light-cl);
  border-radius: 32px;
  border: none;
  cursor: pointer;
  margin-bottom: 14px;
}
.hero-btn:hover,
.hero-btn:focus {
  color: var(--primary-dark-cl);
  background: transparent;
  outline: 2px solid var(--primary-light-cl);
}
.hero-descr {
  font-size: 12px;
  line-height: 1.5;
  color: var(--secondary-dark-cl);
  max-width: 238px;
  text-align: center;
}

/* ABOUT */

.about-container {
  display: flex;
  gap: 32px;
  align-items: flex-start;
}
.about-content {
  max-width: 709px;
}
.title {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 64px;
  max-width: 529px;
}
.light-accent-capital {
  color: var(--primary-light-cl);
  text-transform: capitalize;
}
.about-title {
  margin-bottom: 40px;
}
.about-descr {
  line-height: 1.7;
}
.about-descr:not(:last-of-type) {
  margin-bottom: 40px;
}
.about-descr > span {
  text-transform: capitalize;
  font-weight: 600;
}
.about-results {
  border-radius: 50%;
  filter: drop-shadow(0px 4px 4px rgba(168, 198, 245, 0.2));
}
/* ADVANTAGES */
.wrapper {
  position: relative;
}
.wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../images/wrapper-background.svg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  z-index: -1;
}
.advantages-section {
  padding: 176px 0 48px 0;
}
.light-accent {
  color: var(--primary-light-cl);
}
.advantages-title {
  text-align: center;
  margin: 0 auto 48px;
}
.advantages-list {
  display: flex;
  gap: 56px;
  justify-content: center;
}
.advantages-item {
  width: 316px;
  height: 181px;
  background: var(--primary-white-cl);
  box-shadow: 0px 4px 4px rgba(168, 198, 245, 0.38);
  border-radius: 32px;
  font-size: 18px;
  line-height: 1.3;
  text-align: center;
  padding: 24px 32px;
}
.advantage-icon {
  margin-bottom: 8px;
}

/* PROCEDURES */

.procedures-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}
.procedures-title {
  text-align: center;
  margin: 0 auto 48px;
}
.procedures-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.procedures-item {
  position: relative;
  flex-basis: calc((100% - 32px) / 3);
  width: 344px;
  height: 456px;
  background-image: linear-gradient(
    180.05deg,
    rgba(1, 28, 68, 0) 48.53%,
    rgba(1, 28, 68, 0.725825) 84.61%,
    var(--primary-dark-cl) 101.39%
  );
  border-radius: 4px 120px;
}
.procedures-name {
  position: absolute;
  bottom: 32px;
  left: 0;
  right: 0;
  text-align: center;
  color: var(--primary-white-cl);
  max-width: 152px;
  margin: 0 auto;
}

/* CAROUSEL */

.carousel-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0; /* щоб стрілочки не стискались, коли їх витісняє розмір карток */
  padding: 0;
  width: 44px;
  height: 44px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid var(--primary-dark-cl);
}

.carousel-btn:hover,
.carousel-btn:focus {
  background-color: var(--primary-dark-cl);
  fill: var(--secondary-txt-cl);
}

/* CONTACTS */

.contacts-section {
  padding-bottom: 96px;
}
.contacts-title {
  text-align: center;
  margin: 0 auto 48px;
}
.contacts-container {
  display: flex;
  gap: 32px;
  justify-content: center;
}
.contacts-map {
  border: none;
  border-radius: 32px;
}
.contacts-form {
  width: 422px;
  padding: 48px 54px;
  background: var(--primary-dark-cl) url('../images/form-background.svg')
    no-repeat center/cover;
  border-radius: 32px;
  text-align: center;
}
.form-title {
  font-weight: 600;
  color: var(--primary-white-cl);
  margin-bottom: 32px;
}
.submit-btn {
  display: flex;
  align-items: center;
  padding: 16px 32px;
  width: 281px;
  font-weight: 600;
  font-size: 18px;
  font-family: var(--main-font);
  color: var(--primary-white-cl);
  background: var(--primary-light-cl);
  border-radius: 32px;
  border: none;
  cursor: pointer;
  margin: 0 auto 8px auto;
}
.submit-btn:hover,
.submit-btn:focus {
  color: var(--primary-dark-cl);
  background: transparent;
  outline: 2px solid var(--primary-light-cl);
}
.contacts-policy {
  font-size: 12px;
  line-height: 1.5;
  color: var(--secondary-light-cl);
}

/* FOOTER */

.footer {
  padding: 56px 0;
  background: var(--primary-dark-cl) url('../images/footer-background.svg')
    no-repeat center/cover;
}
.footer-container {
  display: flex;
  gap: 20px;
}
.footer-nav,
.footer-address {
  display: flex;
  flex-basis: 50%;
  gap: 20px;
}
.footer-logo {
  width: 83px;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 0.9;
  color: var(--primary-light-cl);
  flex-grow: 1;
}
.footer-nav-link,
.address-link,
.policy-link {
  font-style: normal;
  font-size: 16px;
  color: var(--primary-white-cl);
}
.address-icon {
  fill: var(--primary-white-cl);
}
.copyright {
  font-style: normal;
  font-size: 13px;
  color: var(--secondary-light-cl);
}
.footer-nav-list,
.address-list,
.address-info {
  flex-grow: 1;
}
.footer-socials {
  display: flex;
  gap: 24px;
}

.footer-nav-item:not(:last-of-type),
.policy-link,
.address-item {
  margin-bottom: 16px;
}
